 <h2>User Info</h2>
 <h4>名前</h4>
 <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format:'jpg', fallback: "no_image.jpg" %>
 <%= @user.name %>
 <h4>プロフィール</h4>
 <%= @user.introduction %><br>
 <% @users.each do |user| %>
  <div class="relative-post-evaluation">
          <span>このユーザーに対する評価：</span>
          <span id="star-rate-<%= user.id %>"></span>
          <script>
            if ($('#star-rate-<%= user.id %> img').length === 0) {
              $('#star-rate-<%= user.id %>').raty({
                size: 36,
                starOff: "<%= asset_path('star-off.png') %>",
                starOn: "<%= asset_path('star-on.png') %>",
                starHalf: "<%= asset_path('star-half.png') %>",
                half: true,
                readOnly: true,
                score: <%= user.evaluation %>,
              });
            }
          </script>
          <%= user.evaluation %>
        </div>
  <% end %>
 <% if @user == current_user %>
    <%= link_to "編集する", edit_user_path(@user), class: " btn btn-primary" %>
  <% end %>

    <%= form_with model: @user, url: user_path, method: :post,local: true do |f| %>
      <div class="field" id="star">
        <%= f.label :evaluation, "星評価：" %>
        <%= f.hidden_field :evaluation, id: :review_star %>
        <script>
          if ($("#star img").length === 0) {
            $('#star').raty({
              size     : 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              scoreName: 'user[evaluation]',
              half: true,
            });
          }
        </script>
      </div>
    <%= f.submit "評価する", class: " btn btn-primary" %>
    <% end %>



   <h2>投稿</h2>
      <table class="table table-hover table-inverse">
        <thead>
        <tr>
          <th></th>
          <th>タイトル</th>
          <th>カテゴリー</th>
          <th>いいね</th>
          <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
           <% @posts.each do |post| %>
           <tr>
             <td>
            <%= link_to user_path(@user.id) do %>
            <%= attachment_image_tag @user, :profile_image, :fill, 60, 60, format:'jpg', fallback: "no_image.jpg" %>
            <% end %>
            </td>
            <td>
            <%= link_to post_path(post.id) do %>
             <p><%= post.title %></p>
            <% end %>
            </td>
            <td><p><%= post.is_recruitment %></p></td>
            <td><p> ♡<%= post.favorites.count %> いいね </p></td>
            </tr>
            <% end %>
          </tbody>
        </table>

