<div class="post-body">
  <p>投稿者：<%= @post.user.name %></p>
  <%= link_to user_path(@post.user.id) do %>
  <%= attachment_image_tag @post.user, :profile_image, :fill, 60, 60, format:'jpg', fallback: "no_image.jpg" %>
  <% end %>
  <p>タイトル：<%= @post.title %></p>
  <% @post.tags.each do |tag| %>
   <p>タグ：#<%= tag.name %></p>
  <% end %>
  <p>カテゴリー：<%= @post.is_recruitment %></p>
  <p>活動場所：<%= @post.state %></p>
  <p>オンラインについて：<%= @post.is_online %></p>
  <p>活動期間：<%= @post.period %></p>
  <p>ギャラの有無：<%= @post.guarantee %></p>
  <p>本文：<%= @post.text %></p>
  <p>参考用動画・音源</p>
  <% if @post.video.attached? %>
  <video src="<%= rails_blob_path(@post.video) %>" type="video/mp4" controls></video>
  <% end %>

  <% if @post.user == current_user %>
    <%= link_to "削除", post_path(@post), method: :delete %>
    <%= link_to "編集", edit_post_path(@post) %>
  <% end %>

  <div id="post_<%= @post.id %>">
    <%= render "favorites/favorites-btn", post: @post %>
  </div>